.wmn-75{
  width: 75%;
}
.wmn-50{
  width: 50%;
}
.alto-boxInt{
  min-height: 33.33vh;
}
.mnItem-int a {
  color: #fff;
  padding: 10px 0px;
  border:1px solid transparent;
  width: 100%;
  display: block;
}

.mnItem-int.active a, .mnItem-int a:hover {
  padding: 10px 0px;
  width: 100%;
  display: block;
  color: #FDDA24;
  border-right: 2px solid #FDDA24;
  margin: 0;
}
.icon-foot-int {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.icon-foot-int span{
  font-size: 50px;

}
.caruselInt .carousel-indicators{
  bottom:4%;
  width: 10%;
  left:-10%;
}
.caruselInt .carousel-indicators button{
 border:1px solid #C9C9C9;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #C9C9C9;
} 
.caruselInt .carousel-indicators .active {
  opacity: 1;
  background: #FDDA24;
  border:1px solid #FDDA24;
}
.d-flexmd{
  display: flex;
}
.img-formInt{
  width: 100%;
  display: block;
}
.vh-100-mn{
  height: 100vh;
}
.nolinkmn{
  text-decoration: none;
}
.fontIconarrow{
  font-size: 20px;
  font-weight: bold;
}
.input-group {
  margin-bottom: 1.25em;
}
/* view */
input[type="password"] {
  -webkit-appearance: none;
  font-size: 1.25em;
}
/* suppress IE >= 10 native functionality that can show password */
input[type="password"]::-ms-reveal {
  display: none;
}
.input-group {
  position: relative;
  width: 100%;
}
.ojo {
  background: none;
  border: none;
  color: #337ab7;
  /*display: none;*/
 font-size: 1.5em;
  font-weight: 600;
  /*padding: .5em;*/
  position: absolute;
  right: .75em;
  top: 1.5em;
  z-index: 9;
}
.iconGrand{
  font-size: 140px;
  color: #ddd;
}
.box-middle{
  border-radius: 20px;
  margin: 30px auto;
}
.box-middle span{
  font-size: 80px;
}
.box-middle h2{
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}
.mn-gradient-yellow{
  background: linear-gradient(90.04deg, #FDDA24 0.08%, rgba(253, 218, 36, 0) 73.69%);
  color:#000000;
}
.mn-bg-blue{
  background: #80A3D4;
  color:#000000;
}
.mn-bg-red{
  background:#FF0016;
  color:#fff;
}
.plac-blue::placeholder { 
  font-weight: 700;
  color: blue; 
  font-size: 16px;
  line-height: 1;
}
.font30{
  font-size: 30px;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font24{
  font-size: 24px;
}
.font80{
  font-size: 80px;
}
.input-range-valor{
  display: block;
  margin: 10px auto;
  text-align: center;
  border:none;
  background: transparent;
}
.text-yellow{
  color: #FDDA24;
}
.box-icon {
  padding: 10px;
  text-align: center;
  background-color: #FDDA24;
  display: inline-block;
}
.box-amarillo{
  background-color: #FDDA24;
}
.box-icon span{
  font-size: 40px;
}
.pInt span{
  font-weight: 700;
}
.range-container {
  position: relative;
}

input[type="range"] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

.text-grey-mn{
  color:#A2A5AB;
  font-weight: 400;
}
.inputsCheck input[type=checkbox] {
  height: 20px;
  width: 20px;
}
.vh-70{
  min-height: 70vh;
}
.bg-grey2{
  background: #D9D9D9;
}
.iconabsolute{
  width: 70px;
  height: 70px;
  top: 25%;
  left:50%;
  right: 50%;
  font-size: 30px;
}
.sinfondo{
  background: transparent !important;
}
.sinfondo:hover, .sinfondo:focus, .sinfondo:active {
  background: transparent !important;
  border:0;
  outline: none;
}
.w-mn-75{
  width: 75%;
}
.text-end-mn{
  text-align: right;
}
/* admin*/
.tcargo{
  background-color: #FFFBE2;
  border-radius: 4px;
  padding: 4px 6px;
  margin-left: 4px;
  display: inline;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 0;
}
.dasb-grey1{
  background: rgba(128, 163, 212, 0.3);
}
.dasb-grey2{
  background: #EDECEC;
}
.dasb-grey3{
  background: #F8F8F8;
}
.linkadmin{
  color:#000000;
}
.linkadmin.active{
  color:#000000;
  font-weight: 600;
  border-bottom:2px solid #FDDA24;
}
.tadmin tr th{
  color: #0046A8;
  border-bottom: 2px solid transparent;
  text-align: center;
}
.tadmin tr td {
  border-bottom: 1px solid #818181;
  text-align: center;
  color:#222222;
}
.linkojo {
  text-decoration: none;
}
.linkojo .icomn-view-not{
  display: none;
}
.linkojo:hover .icomn-view-not{
  display: block;
  text-decoration: none !important;
}
.linkojo:hover .icomn-view{
  display: none;
}
/* botones estado admin */
.btntable{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  width: 100%;
}
.btntable:hover{
  color: #fff;
}
.aprobado{
  background-color: #80A3D4;
}
.espera{
  background-color: #B25E66
}
.preaprobado{
  background: #FF912C;
}
.rechazado{
  background-color: #FF0016;
}
.admin{
  background-color:#FFF7CF
}
.aprobador{
  background-color:#B274E2;
}
.comercial{
  background-color:#D09675;
}
.desembolso{
  background-color:#59B6A4;
}
.bg-transp{
  background-color: transparent;
}

@media (max-width: 720px) {
  .margenMbile{
    margin-top: 80px;
    display:block;
  }
  .wmn-75, .wmn-50{
    width: 100%;
  }
  .box-mvl{
    background: linear-gradient(303.22deg, rgba(235, 235, 235, 0.54) 4.02%, rgba(80, 80, 80, 0.06) 100.6%);
border-radius: 24px;

margin-bottom: 10%;
  }
  .box-mvl img{
    width: 80%;
  }
  .vh-100-mn{
    height:auto;
  }
  .mn-gradient-yellow{
    background: #FDDA24;
border-radius: 8px;
  }
  .box-middle{
    border-radius: 8px;
    width: 60%;
    margin: 20px auto -15px;
    position: relative;
    z-index: 2;
  }
  .box-middle span,.box-middle p{
    display: none;
  }
  .box-middle .text-box{
    margin: 0 auto;
  }
  .box-middle .text-box h2{
    font-size: 14px;
  }
  .font80{
    font-size: 30px;
  }
  .w-mn-75{
    width: 100%;
  }
  .iconabsolute{
    width: 70px;
    height: 70px;
    position: absolute;
top: 25%;
left: 0;
right: 0;
margin: auto;
    font-size: 30px;
  }
  .text-end-mn{
    text-align: center;
  }
}
@media (min-width: 721px) and (max-width: 960px) {
  
  .wmn-75{
    width: 100%;
  }
  .wmn-50{
    width: 90%;
  }
  .img-formInt{
    width: 50%;
    margin: 0 auto;
  }


}